@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "NeomatrixCode";
  src: url("/fonts/NeomatrixCode.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-NeomatrixCode {
  font-family: "NeomatrixCode", sans-serif;
}
