@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "NeomatrixCode";
  src: url("/fonts/NeomatrixCode.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-NeomatrixCode {
  font-family: "NeomatrixCode", sans-serif;
}

/* Embla Carousel Styles */
.embla {
  overflow: hidden;
  margin: 0 -1rem;
}

.embla__container {
  display: flex;
  touch-action: pan-y;
  margin-left: calc(-1rem / 2);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 auto;
  min-width: 0;
  padding-left: calc(1rem / 2);
  padding-right: calc(1rem / 2);
}
