.vintage-title {
  font-family: var(--font-headings);
  text-align: center;
  color: var(--color-text);
  margin: 2rem auto;
  font-size: 2.5em;
}

.vintage-title CheckCircleIcon {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .vintage-title {
    font-size: 2em;
  }
}
